{% extends "base.html.j2" %}

{% block title %}Bibliothèque{% endblock %}

{% block content %}
    <h1>Bienvenue à la Bibliothèque</h1>
    <ul>
        <li><a href="/utilisateurs">Liste des utilisateurs</a></li>
        <li><a href="/livres">Liste des livres</a></li>
        <li><a href="/auteurs">Liste des auteurs</a></li>
    </ul>
{% endblock %}