{% extends "base.html.j2" %}

{% block title %}Bibliothèque - Ajout Livre{% endblock %}

{% block content %}
    <form method="post", action="{{ url_for('addlivre') }}">
        <div class="form-group">
            <label for="nom_livre">Nom du livre :</label>
            <input type="text" class="form-control" name="nom_livre" required>
        </div>

        <div class="form-group">
            <label for="pitch_livre">Pitch du livre :</label>
            <input type="text" class="form-control" name="pitch_livre" required>
        </div>

        <div class="form-group">
            <label for="nom_auteur_livre">Auteur id :</label>
            <input type="text" class="form-control" name="nom_auteur_livre" required>
        </div>

        <div class="form-group">
            <label for="date_public_livre">Date publication:</label>
            <input type="date" class="form-control" name="date_public_livre" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
{% endblock %}