{% extends "base.html.j2" %}

{% block title %}Formulaire - authentification{% endblock %}

{% block content %}
</div>
<form id="form_cnx" method="post" action="{{ url_for('login') }}" class="container mt-5">
    <!-- Adresse Mail -->
    <div class="form-group">
        <label for="in_mail">Adresse Mail :</label>
        <input type="email" name="mail" id="in_mail" 
               class="form-control {% if not etat %} is-invalid {% endif %}" 
               required />
        {% if not etat %}
        <div class="invalid-feedback">Veuillez entrer une adresse e-mail valide.</div>
        {% endif %}
    </div>

    <!-- Mot de passe -->
    <div class="form-group">
        <label for="in_pass">Mot de passe :</label>
        <input type="password" name="pass" id="in_pass" 
               class="form-control {% if not etat %} is-invalid {% endif %}" 
               required />
        {% if not etat %}
        <div class="invalid-feedback">Veuillez entrer un mot de passe valide.</div>
        {% endif %}
    </div>

    <!-- Bouton de soumission -->
    <button type="submit" name="connect" class="btn btn-primary mt-3">Connexion</button>
</form>
</div>
{% endblock %}